.list {
    background-color: rgb(153, 127, 238);  
    border-radius: 8px;
    box-shadow: 0 7px 8px rgb(25, 2, 100);
    width: 40%;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-top: 50px;



}